/* Reset browser defaults */
html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

*, *:after, *:before {
  box-sizing: inherit;
}

input:focus {
  outline: none;
}

@font-face {
  font-family: 'power_symbols';
  src: url('../fonts/Unicode_IEC_symbol.woff2') format('woff2'), url('../fonts/Unicode_IEC_symbol.woff') format('woff'), url('../fonts/Unicode_IEC_symbol.ttf') format('truetype'), url('../fonts/Unicode_IEC_symbol.odt') format('opentype');
  font-weight: normal;
  font-style: normal;
}


/* Custom Styles */
html, body {
  background: radial-gradient(farthest-side, #EDF2F7, #718096 130%);
}

body{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media(max-width: 1030px){
  body{
    align-items: unset;
  }
}

.wrapper{
  flex: 1 auto;
}

.machine-back {
  --machine-width: 950px;
  --content-width: 690px;
  --color-text-muted: #888;
  --color-text-active: #E4E8EA;

  position: relative;
  margin: auto;
  max-width: var(--machine-width);
  box-shadow: inset 0 0 30px #000000,
  inset 0px -4px 0px #2b2b2b,
  inset 1px -2px 0px 2px white,
  0px 0px 1px 5px #000000;
  background: repeating-linear-gradient(0deg, #2b2b2b , #202020 2px);
  padding: 40px;
  flex: 1 0 auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  user-select: none;
}

@media(max-width: 1030px){
  .machine-back{
    --machine-width: 90%;
    --content-width: 90%;
    padding: 20px 0;
    margin: 100px auto;
  }
}

.machine-back::after, .machine-back::before {
  content: '';
  position: absolute;
  width: calc(100% - 50px);
  height: 10px;
  background: #2b2b2b;
  bottom: -14px;
}

.machine-back::after {
  transform: skewX(50deg);
  left: 2px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 5px;
}

.machine-back::before {
  transform: skewX(-50deg);
  left: auto;
  right: 2px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 5px;
}

.-label{
  color: var(--color-text-muted);
  font-family: 'Inconsolata', monospace;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.upper-controls{
  display: flex;
  flex-direction: row;
  padding: 20px 14px;
  align-items: center;
  justify-content: space-around;
}

.power-switch, .input-visualizer{
  flex: 0 1 auto;
  background-color: grey;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  height: 35px;
  width: 26px;
}

.power-switch {
  font-family: 'power_symbols';
  font-style: normal;
  cursor: pointer;
  background-color: black;
  color: var(--color-text-active);
}

.machine-back.-active .power-switch{
  background-color: white;
  color: black;
}

.input-visualizer {
  cursor: default;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0px 0px 0px 2px #000000;
}

.input-visualizer--glow {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 50%;
  background-color:#ffffff56;
  transition: background-color linear .2s;
  filter: blur(4px);
}

#bitflipper-logo{
  height: 40px;
  width: 180px;
  flex: 0 1 auto;
}