.display {
  max-width: var(--content-width);
  margin: 0 auto;
  height:100px;
  border:1px solid rgba(0,0,0,0.5);
  border-radius:10px 10px 10px 10px;
  -webkit-box-shadow:
  0 2px 6px rgba(0,0,0,0.5),
  inset 0 1px rgba(255,255,255,0.3),
  inset 0 10px rgba(255,255,255,0.2),
  inset 0 10px 20px rgba(255,255,255,0.25),
  inset 0 -15px 30px rgba(0,0,0,0.3);
  -moz-box-shadow:
  0 2px 6px rgba(0,0,0,0.5),
  inset 0 1px rgba(255,255,255,0.3),
  inset 0 10px rgba(255,255,255,0.2),
  inset 0 10px 20px rgba(255,255,255,0.25),
  inset 0 -15px 30px rgba(0,0,0,0.3);
  box-shadow:
  0 2px 6px rgba(0,0,0,0.5),
  inset 0 1px rgba(255,255,255,0.3),
  inset 0 10px rgba(255,255,255,0.2),
  inset 0 10px 20px rgba(255,255,255,0.25),
  inset 0 -15px 30px rgba(0,0,0,0.3);
  background:rgb(58, 58, 58);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
}

.display--text{
  color: #fffffd;
  font-size: 24px;
  text-shadow: 0 0 5px #cbdbe1;
  font-family: 'Press Start 2P', cursive; /* Alternative: Inconsolata 700 */

  right: 0px;
  position: absolute;
  break-inside: avoid;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

@media(max-width: 1030px){
  .display {
    height: 70px;
    margin: 20px auto;
  }

  .display--text{
    font-size: 15px;
  }
}
