.footer {
  display: flex;
  max-width: var(--machine-width);
  position: relative;
  margin: 40px auto 20px;
  align-content: center;
  justify-content: center;
}

.footer--link {
  cursor: pointer;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.footer--link + .footer--link:before {
  display: inline;
  content: '|';
  margin: 0 10px;
}
