@media (max-width: 600px) {
  .output-cable {
    display: none;
  }
}

.output-cable.cable-connector {
  left: unset;
  right: 100px;
}

.output-cable.-phono-red {
  margin-right: calc(1 * var(--connector-width) + 1 * 25px);
}

.output-cable.-active .cable-connector--label {
  color: var(--color-text-active);
}

.output-cable.-active .cable-connector--jack {
  background-position-y: 50px;
  opacity: 1;
}

.output-cable.-plugging-out .cable-connector--jack {
  transition: opacity 0.21s ease-in-out 1s,
    background-position-y 0.5s ease-in-out 0.5s;
}
