.power-switch {
  flex: 0 1 auto;
  height: 35px;
  width: 26px;
  padding: 1px 6px;

  color: var(--color-text-active);
  border: none;
  border-radius: 50px;
  font-family: 'power_symbols';
  font-style: normal;
  cursor: pointer;
  background-color: black;
}

.machine-back.-active .power-switch {
  background-color: white;
  color: black;
}
